name: Build and Publish

on:
  push:
    branches:
      - master  # имя основной ветки

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install rsync
        run: sudo apt-get install -y rsync

      - name: Deploy dist folder to VPS
        run: |
          rsync -avz --delete ./dist/ ${{ secrets.SSH_USER }}@${{ secrets.HOST }}:/home/siter/web/ano-otvet.ru/public_shtml/

      - name: Restart Remote Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            systemctl restart nginx